<div class="jumbotron">
  <div class="container">
  	<div class="center">
    	<h1>Craigslist Scraper</h1>
    	<h2>The easiest way to find apartment rentals in Toronto</h2>
	</div>
	<br>
	<%= render 'filter' %>
  </div>
</div>